# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.whl

# virtual environments
.env/
.venv/
venv/
ENV/
env/
.idea/
.vscode/

# testing
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.cache
pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyright
pyrightconfig.json

# debug
*.log

# local env files
.env.local
.env*

# misc
.DS_Store
*.pem

# deployment
*.sqlite3
*.db
*.log
*.bak

# vercel (if deploying FastAPI with frontend)
.vercel/

# pyinstaller
*.spec

# celery
celerybeat-schedule
celerybeat.pid
